<!--
 * @Author: fuzhenghao
 * @Date: 2022-06-07 17:38:42
 * @LastEditTime: 2022-06-07 19:05:06
 * @LastEditors: fuzhenghao
 * @Description: 
 * @FilePath: \myBlog_frontEnd\src\pages\document.ejs
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>我的博客</title>
  <style>
    html  {
      overflow-y: scroll;
    }
    
    ::-webkit-scrollbar {
    
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
    
        border-radius: 25px;

        background: rgb(4,21,45);
    }

    ::-webkit-scrollbar-track {
        
        border-radius: 0;
        background: rgb(234, 234, 234);
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>